In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sys
import warnings
if not sys.warnoptions:
    warnings.simplefilter("ignore")

In [3]:
testing_data = pd.read_csv("testing_data.csv")

In [4]:
testing_data.head()

,id,id_str,screen_name,location,description,url,followers_count,friends_count,listedcount,created_at,favourites_count,verified,statuses_count,lang,status,default_profile,default_profile_image,has_extended_profile,name,bot
0,2.651040e+08,265104007,TonyFergusonXT,On a Boat,Fam Man | Fighter | Future Champ | Gamer | #Sn...,https://t.co/XfF4Xfn4Rs,59756,1134,490,3/13/2011 1:19,7356,True,8334,en,"Status(contributors=None, truncated=True, text...",False,False,False,Tony Ferguson,0
1,2.831214e+09,2831214083,EveryFinnishNo,"Helsinki, Finland",A bot by @hugovk to tweet every Finnish number...,https://t.co/mAixJrdlV1,172,69,21,Wed Oct 15 07:01:27 +0000 2014,5,False,1065316,en,"{u'contributors': None, u'truncated': False, u...",False,False,False,Every Finnish Number,1
2,2.568854e+09,2568853903,botlang,"Botland, Great Bottain",bot-generated conlang // by @dbaker_h,http://t.co/8aN55YvLJg,98,2,19,Sun Jun 15 11:08:27 +0000 2014,0,False,3621,en,"{u'contributors': None, u'truncated': False, u...",False,False,False,botlang,1
3,1.431117e+09,"""1431116617""","""DuniaOnePiece""","""Indonesia""","""Dunia Tempat Berkumpulnya Para Pecinta One Pi...","""https://t.co/5HW8AvKhsM""",14917,227,27,"""Wed May 15 17:39:52 +0000 2013""",919,False,53398,"""en""","{\r ""created_at"": ""Fri Mar 10 02:18:04 +0...",False,False,False,"""Dunia One Piece""",1
4,1.838452e+07,18384521,jonrafman,NaN,Rarely has reality needed so much to be imagined.,http://t.co/uC0ixzBjnh,7011,315,173,12/26/2008 4:40,1820,False,631,en,"Status(contributors=None, truncated=False, tex...",False,False,False,Jon Rafman,0

In [5]:
testing_data.drop(['id_str', 'screen_name', 'location', 'description', 'url', 'created_at', 'lang', 'status', 'has_extended_profile','name'],axis=1,inplace=True)

In [6]:
training_data = pd.read_csv("training_data.csv")

In [7]:
training_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1562 entries, 0 to 1561
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     1562 non-null   float64
 1   id_str                 1562 non-null   object
 2   screen_name            1562 non-null   object
 3   location               989 non-null    object
 4   description            1343 non-null   object
 5   url                    799 non-null    object
 6   followers_count        1562 non-null   int64
 7   friends_count          1562 non-null   int64
 8   listedcount            1562 non-null   int64
 9   created_at             1562 non-null   object
 10  favourites_count       1562 non-null   int64
 11  verified               1562 non-null   bool
 12  statuses_count         1562 non-null   int64
 13  lang                   1562 non-null   object
 14  status                 1396 non-null   object
 15  default_profile        1562 non-null   bool
 16  default_profile_image  1562 non-null   bool
 17  has_extended_profile   1515 non-null   object
 18  name                   1562 non-null   object
 19  bot                    1562 non-null   int64
dtypes: bool(3), float64(1), int64(6), object(10)
memory usage: 212.2+ KB

In [8]:
training_data.head()

,id,id_str,screen_name,location,description,url,followers_count,friends_count,listedcount,created_at,favourites_count,verified,statuses_count,lang,status,default_profile,default_profile_image,has_extended_profile,name,bot
0,1.953701e+08,195370058,kanyejordan,NaN,This is what I do. I drop truth bombs.,NaN,2925,3,139,9/26/2010 14:45,0,False,708,en,"Status(in_reply_to_status_id=None, favorited=F...",True,False,False,Kanye Jordan,1
1,7.950000e+17,7.95E+17,astronaut_bot,NaN,Keeping an eye on astronauts coming and going....,NaN,9,0,5,Fri Nov 04 12:11:27 +0000 2016,0,False,6,en,{'created_at': 'Tue Nov 22 16:52:31 +0000 2016...,True,False,False,Astronaut Notifier,1
2,2.976541e+09,2976541239,TheRiddlerBot,"Coimbra, Portugal",Solve the riddle by replying only the name of ...,https://t.co/1v8BON9QpT,132,46,24,1/13/2015 15:10,740,False,7346,en,"Status(contributors=None, truncated=False, tex...",True,False,False,TheRiddlerBot,1
3,2.243832e+08,224383150,mlegoudes262,NaN,NaN,NaN,54,1351,0,Wed Dec 08 21:29:31 +0000 2010,2,False,6,en,"{'truncated': False, 'entities': {'user_mentio...",True,False,False,Laurie Poulsen,1
4,1.134712e+07,11347122,GavinNewsom,California,Husband & father. 49th Lt. Gov. of California ...,https://t.co/XrGnfzTDJD,1300380,24248,7089,Wed Dec 19 19:53:42 +0000 2007,4184,True,8536,en,"{u'contributors': None, u'truncated': True, u'...",False,False,False,Gavin Newsom,0

In [9]:
training_data.drop(['id_str', 'screen_name', 'location', 'description', 'url', 'created_at', 'lang', 'status', 'has_extended_profile','name'],axis=1,inplace=True)
training_data.to_html('train.html')

In [10]:
X = training_data.iloc[:, :-1].values
y = training_data.iloc[:, 9].values

In [12]:
from sklearn.tree import DecisionTreeClassifier as DTC
import pickle
classifier= DTC(criterion="entropy")
classifier.fit(X,y)
filename = 'dtc_model.sav'
pickle.dump(classifier, open(filename, 'wb'))

X1 = training_data.iloc[:, :-1].values

from sklearn.preprocessing import LabelEncoder
Labelx=LabelEncoder()
X1[:,6]=Labelx.fit_transform(X1[:,6])
X1[:,7]=Labelx.fit_transform(X1[:,7])
X1[:,8]=Labelx.fit_transform(X1[:,8])
y1_pred = classifier.predict(X1)
y1_pred=pd.DataFrame(y1_pred);
y1_pred.to_csv("Result.csv",index=False);

In [11]:
y1_pred

      0
0     1
1     1
2     0
3     1
4     0
...  ..
1557  0
1558  0
1559  1
1560  0
1561  0

[1562 rows x 1 columns]